$body-bgcolor: white;
$body-color: rgb(17, 17, 17);
$body-desc-color: rgba(17, 17, 17, 0.6);
$border-color: #eee;

@mixin titles {
  color: $body-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
@mixin descriptions {
  color: $body-desc-color;
  font-size: 13px;
  line-height: 18px;
}

body {
  background-color: $body-bgcolor;
  color: $body-color;
}

.search-bar {
  margin: 20px auto;
  width: 75%;
}
.video-item {
  img {
    max-width: 64px;
  }
}
.video-detail {
  .details {
    margin-top: 10px;
    padding: .75rem 1.25rem;
    border: 1px solid $border-color;
    border-radius: .25rem;
  }
}
.list-group-item {
  cursor: pointer;
  border: 1px solid $border-color;
  &:hover {
    background-color: $border-color;
  }
}
.input-group-btn button {
  cursor: pointer;
}
.media-heading {
  @include titles;
}
.media-body {
  padding: 0 20px;
}
.details-title {
  @include titles;
}
.details-description {
  @include descriptions;
}
